.top-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;

    @include nb {
        gap: 70px;
    }

    @include tb {
        gap: 35px;
    }

    @include mb {
        gap: 15px;
    }

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .left {
        @media (max-width: 600px) {
            width: 100%;
        }

        .text-in {
            h6 {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $color3;

                b {
                    color: $color4;
                }
            }
        }

        .btns {
            display: flex;
            gap: 15px;

            @include mb {
                gap: 10px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            .styled-btn {
                @include tb {
                    min-width: 160px;
                }
            }
        }
    }

    .right {
        padding: 30px;
        border: 1px solid $color2;
        position: relative;
        border-radius: 3px;

        @include nb {
            padding: 20px;
        }
        @include tb {
            padding: 15px;
        }

        @include mb {
            padding: 10px;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            width: calc(100% + 60px);
            height: calc(100% + 60px);
            left: -30px;
            top: -30px;
            border: 1px solid $color2;
            border-radius: 3px;

            @include nb {
                width: calc(100% + 40px);
                height: calc(100% + 40px);
                left: -20px;
                top: -20px;
            }

            @include tbmb {
                content: none;
            }
        }

        img {
            max-height: 500px;
            border-radius: 3px;

            @include nbtbmb {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include nbtb {
                max-height: 400px;
            }

            @media (max-width: 600px) {
                max-height: 370px;
                object-position: 10% 20%;
            }
        }
    }
}